@page "/register-confirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông tin xác thực đăng ký";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn cần xác thực email trước khi sử dụng tài khoản.
</p>

